
*.exe
stockfish-py/Notes/
stockfish-py/stockfish/main.py

.DS_Store
*.pyc
.idea
.eggs
stockfish.egg-info
/build/
/dist/
/venv/
*/__pycache__
*/*/__pycache__
coverage.xml
.coverage
docs/
.vscode/

*.che
*.en
*.html
*.obj
*.pkl

outputs/
wandb/
results/
leelalogs/
